--------------------------Assignment-1-------------------------

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [22]:
#Ans-1-
#String
a="This is Yash"

In [12]:
type(a)

str

In [14]:
a

'This is Yash'

In [13]:
#List
a1=["Yash","Aanshi",1,2,3,3+4j,True,False,33.14]

In [15]:
type(a1)

list

In [16]:
a1

['Yash', 'Aanshi', 1, 2, 3, (3+4j), True, False, 33.14]

In [7]:
#Float
a2=33.14

In [17]:
type(a2)

float

In [18]:
a2

33.14

In [9]:
#Tuple
a3=("Piyush",9,6,3,4,5,6,"Shivansh")

In [19]:
type(a3)

tuple

In [20]:
a3

('Piyush', 9, 6, 3, 4, 5, 6, 'Shivansh')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [23]:
#Ans-2-
var1 = ‘ ‘
type(var1)

SyntaxError: invalid character '‘' (U+2018) (601729129.py, line 2)

In [24]:
var2 = ‘[ DS , ML , Python]’
type(var2)

SyntaxError: invalid character '‘' (U+2018) (3990704681.py, line 1)

In [26]:
var3 = [‘DS’ , ’ML’ , ‘Python’ ]
type(var3)

SyntaxError: invalid character '‘' (U+2018) (2941072232.py, line 1)

In [27]:
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [28]:
#Ans-3-
#   (/) operator is used to division purpose explaning
3/3

1.0

In [29]:
2/3

0.6666666666666666

In [30]:
100/10

10.0

In [31]:
# (%) modilus operator is use to provide the remainder of the query explaining
1%1

0

In [32]:
3%2

1

In [33]:
5%2

1

In [36]:
7%4

3

In [37]:
# (//) flour division is used to give the output of the division withount point value explaning
2//3

0

In [38]:
8//9

0

In [40]:
55//2

27

In [41]:
# (**) power is used to calculate the power like aquare and more of the query explning
2**2

4

In [42]:
3**2

9

In [43]:
33**3

35937

In [45]:
9**2

81

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [49]:
l=["yash",1,2,3,"Aanshi",33.14,6+9j,True,False,56]

In [50]:
l

['yash', 1, 2, 3, 'Aanshi', 33.14, (6+9j), True, False, 56]

In [51]:
len(l)

10

In [52]:
for i in l:
    print(i)

yash
1
2
3
Aanshi
33.14
(6+9j)
True
False
56

Q5. Using a while loop, verify if the number A is purely divisible by number 8 and if so then how many
times it can be divisible.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [54]:
l1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [55]:
len(l1)

25

In [60]:
for i in l1 :
    if i % 3 == 0:
        print("Yes")
    else:
        print("No")

No
No
Yes
No
No
Yes
No
No
Yes
No
No
Yes
No
No
Yes
No
No
Yes
No
No
Yes
No
No
Yes
No

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans-7-
Mutable are those variables which we can chnage without changing the whole variable explaning eg- list

In [61]:
l3=["yash","Bawne"]

In [62]:
l3

['yash', 'Bawne']

In [63]:
l3[1] = "veer"

In [64]:
l3

['yash', 'veer']

Immutable are those variable which can not be changed until we overwrit the variable eg- string ,tuple, set

In [65]:
s1="yash"

In [66]:
s1

'yash'

In [67]:
type(s1)

str

In [68]:
s1[0]

'y'

In [69]:
s1[0] ="a"

TypeError: 'str' object does not support item assignment